.App {

}


@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  padding: 5px;
  color: white;
}

.App-link {
  color: #61dafb;
}

th {
    background-color: #eeeeee;
}

.modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: #ffffff;
    opacity: 0.75;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createform {
    display: inline-block;
    width: 50vw;
    border: #999999 1px solid;
    border-radius: 10px;
    padding: 5px;
    background: #ffffff;
}

.createform div {
    margin: 5px;
}

.createform .actionRow {
    margin-top: 10px;
    padding-top: 10px;
    border-top: #282c34 1px solid;
}

.createform .actionRow button {
    margin-right: 20px;
}

.session {
    background-color: #eeeeee;
    margin: 3px;
    border-radius: 5px;
    border: #aaaaaa 2px solid;
    padding: 3px;
    font-size: 12px;
}

.session-active {
    border-color: orange;
}

button {
    border: 0px;
    background-color: #2fa82f;
    color: #ffffff;
    cursor: pointer;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #0e800e;
}

.session-active button {
    background-color: orange;
}

.case {
    background-color: #deeefa;
    margin: 3px;
    border-radius: 5px;
    border: #4f8ed0 2px solid;
    padding: 3px;
    font-size: 12px;
}



.closebutton {
    float: right;
    cursor: pointer;
    border-radius: 13px;
    width: 25px;
    height: 25px;
    padding: 0px;
    border: 0px;
    background-color: #f66a6a;
    color: #ffffff;
    font-weight: bold;
}

.closebutton:hover {
    background-color: #c70a0a;
}

.case-related-sessions {
    padding-left: 30px;
}

table td {
    vertical-align: top;
}