.App {

}


@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  padding: 5px;
  color: white;
}

.App-link {
  color: #61dafb;
}

th {
    background-color: #eeeeee;
}

.modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: #ffffff;
    opacity: 0.75;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createform {
    display: inline-block;
    width: 50vw;
    border: #999999 1px solid;
    border-radius: 10px;
    padding: 5px;
    background: #ffffff;
}

.createform div {
    margin: 5px;
}

.createform .actionRow {
    margin-top: 10px;
    padding-top: 10px;
    border-top: #282c34 1px solid;
}

.createform .actionRow button {
    margin-right: 20px;
}

.session {
    background-color: #eeeeee;
    margin: 3px;
    border-radius: 5px;
    border: #aaaaaa 2px solid;
    padding: 3px;
    font-size: 12px;
}

.session-active {
    border-color: orange;
}

.session-active button {
    background-color: orange;
}